/* Fonts
   ========================================================================== */
$font-name: "Montserrat" !default;
$font-sans-serif: $font-name, sans-serif !default;

$color-brand-rose: #f73859;
$color-brand-rose-dark: #e0304e;
$color-brand-rose-light: #ff3466;
$color-brand-navy: #2a3045;
$color-brand-light: #e6e7e8;
$color-white: #fff;
$global-transition: all 300ms ease-in-out;
